In [1]:
import numpy as np 
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('AviationData.csv', encoding='latin1', low_memory=False)
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

# Getting to know the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [5]:
df.shape

(88889, 31)

#### Number of countries

In [7]:
len(df.Country.unique())

220

In [8]:
df.Country.unique()

array(['United States', nan, 'GULF OF MEXICO', 'Puerto Rico',
       'ATLANTIC OCEAN', 'HIGH ISLAND', 'Bahamas', 'MISSING', 'Pakistan',
       'Angola', 'Germany', 'Korea, Republic Of', 'Martinique',
       'American Samoa', 'PACIFIC OCEAN', 'Canada', 'Bolivia', 'Mexico',
       'Dominica', 'Netherlands Antilles', 'Iceland', 'Greece', 'Guam',
       'Australia', 'CARIBBEAN SEA', 'West Indies', 'Japan',
       'Philippines', 'Venezuela', 'Bermuda', 'San Juan Islands',
       'Colombia', 'El Salvador', 'United Kingdom',
       'British Virgin Islands', 'Netherlands', 'Costa Rica',
       'Mozambique', 'Jamaica', 'Panama', 'Guyana', 'Norway', 'Hong Kong',
       'Portugal', 'Malaysia', 'Turks And Caicos Islands',
       'Northern Mariana Islands', 'Dominican Republic', 'Suriname',
       'Honduras', 'Congo', 'Belize', 'Guatemala', 'Anguilla', 'France',
       'St Vincent And The Grenadines', 'Haiti', 'Montserrat',
       'Papua New Guinea', 'Cayman Islands', 'Sweden', 'Taiwan',
       'Senegal', 'Barbados', 'BLOCK 651A', 'Brazil', 'Mauritius',
       'Argentina', 'Kenya', 'Ecuador', 'Aruba', 'Saudi Arabia', 'Cuba',
       'Italy', 'French Guiana', 'Denmark', 'Sudan', 'Spain',
       'Federated States Of Micronesia', 'St Lucia', 'Switzerland',
       'Central African Republic', 'Algeria', 'Turkey', 'Nicaragua',
       'Marshall Islands', 'Trinidad And Tobago', 'Poland', 'Belarus',
       'Austria', 'Malta', 'Cameroon', 'Solomon Islands', 'Zambia',
       'Peru', 'Croatia', 'Fiji', 'South Africa', 'India', 'Ethiopia',
       'Ireland', 'Chile', 'Antigua And Barbuda', 'Uganda', 'China',
       'Cambodia', 'Paraguay', 'Thailand', 'Belgium', 'Gambia', 'Uruguay',
       'Tanzania', 'Mali', 'Indonesia', 'Bahrain', 'Kazakhstan', 'Egypt',
       'Russia', 'Cyprus', "Cote D'ivoire", 'Nigeria', 'Greenland',
       'Vietnam', 'New Zealand', 'Singapore', 'Ghana', 'Gabon', 'Nepal',
       'Slovakia', 'Finland', 'Liberia', 'Romania', 'Maldives',
       'Antarctica', 'Zimbabwe', 'Botswana', 'Isle of Man', 'Latvia',
       'Niger', 'French Polynesia', 'Guadeloupe', 'Ivory Coast',
       'Tunisia', 'Eritrea', 'Gibraltar', 'Namibia', 'Czech Republic',
       'Benin', 'Bosnia And Herzegovina', 'Israel', 'Estonia',
       'St Kitts And Nevis', 'Sierra Leone', 'Corsica', 'Scotland',
       'Reunion', 'United Arab Emirates', 'Afghanistan', 'Ukraine',
       'Hungary', 'Bangladesh', 'Morocco', 'Iraq', 'Jordan', 'Qatar',
       'Madagascar', 'Malawi', 'Unknown', 'Central Africa', 'South Sudan',
       'Saint Barthelemy', 'Micronesia', 'South Korea', 'Kyrgyzstan',
       'Turks And Caicos', 'Eswatini', 'Tokelau', 'Sint Maarten', 'Macao',
       'Seychelles', 'Rwanda', 'Palau', 'Luxembourg', 'Lebanon',
       'Bosnia and Herzegovina', 'Libya', 'Guinea',
       'Saint Vincent and the Grenadines', 'UN', 'Iran', 'Lithuania',
       'Malampa', 'Antigua and Barbuda', 'AY', 'Chad', 'Cayenne',
       'New Caledonia', 'Yemen', 'Slovenia', 'Nauru', 'Niue', 'Bulgaria',
       'Republic of North Macedonia', 'Virgin Islands', 'Somalia',
       'Pacific Ocean', 'Obyan', 'Mauritania', 'Albania', 'Wolseley',
       'Wallis and Futuna', 'Saint Pierre and Miquelon', 'Georgia',
       "Côte d'Ivoire", 'South Korean', 'Serbia', 'MU', 'Guernsey',
       'Great Britain', 'Turks and Caicos Islands'], dtype=object)

# Cleaning Data

In [10]:
# Checking the number of missing values in each column
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [11]:
# working with dates by updating the event Date to datetime format
df['Event.Date'] = pd.to_datetime(df['Event.Date'])

In [12]:
# Convert numerical columns from object to float/int where possible
num_columns = ["Total.Fatal.Injuries", "Total.Serious.Injuries", 
               "Total.Minor.Injuries", "Total.Uninjured", "Number.of.Engines"]

In [13]:
for col in num_columns:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [14]:
# Setting a "Years" column
df.loc[:,("Event.Year")] = df.loc[:,("Event.Date")].dt.year
df["Event.Year"].unique()
print(df.head())

         Event.Id Investigation.Type Accident.Number Event.Date  \
0  20001218X45444           Accident      SEA87LA080 1948-10-24
1  20001218X45447           Accident      LAX94LA336 1962-07-19
2  20061025X01555           Accident      NYC07LA005 1974-08-30
3  20001218X45448           Accident      LAX96LA321 1977-06-19
4  20041105X01764           Accident      CHI79FA064 1979-08-02

          Location        Country   Latitude   Longitude Airport.Code  \
0  MOOSE CREEK, ID  United States        NaN         NaN          NaN
1   BRIDGEPORT, CA  United States        NaN         NaN          NaN
2    Saltville, VA  United States  36.922223  -81.878056          NaN
3       EUREKA, CA  United States        NaN         NaN          NaN
4       Canton, OH  United States        NaN         NaN          NaN

  Airport.Name  ... Air.carrier Total.Fatal.Injuries Total.Serious.Injuries  \
0          NaN  ...         NaN                  2.0                    0.0
1          NaN  ...         NaN                  4.0                    0.0
2          NaN  ...         NaN                  3.0                    NaN
3          NaN  ...         NaN                  2.0                    0.0
4          NaN  ...         NaN                  1.0                    2.0

  Total.Minor.Injuries Total.Uninjured Weather.Condition  \
0                  0.0             0.0               UNK
1                  0.0             0.0               UNK
2                  NaN             NaN               IMC
3                  0.0             0.0               IMC
4                  NaN             0.0               VMC

  Broad.phase.of.flight   Report.Status Publication.Date Event.Year
0                Cruise  Probable Cause              NaN       1948
1               Unknown  Probable Cause       19-09-1996       1962
2                Cruise  Probable Cause       26-02-2007       1974
3                Cruise  Probable Cause       12-09-2000       1977
4              Approach  Probable Cause       16-04-1980       1979

[5 rows x 32 columns]

In [15]:
# Replace spaces and special characters with underscores
df.columns = df.columns.str.replace(r'\W', '_', regex=True)

In [16]:
# Drop columns with excessive missing values (threshold: 40% missing)
missing_threshold = 0.4 * len(df)  # 40% of total rows
df_cleaned = df.dropna(thresh=missing_threshold, axis=1)

Sorting Reports by Country and Number of Reports

In [18]:
df_reports_count = df.groupby("Country").size().reset_index(name="Count").sort_values(by="Count", ascending=False)
df_reports_count.head(10)

            Country  Count
207   United States  82248
29           Brazil    374
35           Canada    359
127          Mexico    358
206  United Kingdom    344
13        Australia    300
66           France    236
184           Spain    226
16          Bahamas    216
73          Germany    215

In [19]:
# Display updated info
print(df.info())  # Show data types and missing values
print(df.head())  # Display the first 5 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                88889 non-null  object
 1   Investigation_Type      88889 non-null  object
 2   Accident_Number         88889 non-null  object
 3   Event_Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport_Code            50132 non-null  object
 9   Airport_Name            52704 non-null  object
 10  Injury_Severity         87889 non-null  object
 11  Aircraft_damage         85695 non-null  object
 12  Aircraft_Category       32287 non-null  object
 13  Registration_Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur_Built           88787 non-null  object
 17  Number_of_Engines       82805 non-null  float64
 18  Engine_Type             81793 non-null  object
 19  FAR_Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose_of_flight       82697 non-null  object
 22  Air_carrier             16648 non-null  object
 23  Total_Fatal_Injuries    77488 non-null  float64
 24  Total_Serious_Injuries  76379 non-null  float64
 25  Total_Minor_Injuries    76956 non-null  float64
 26  Total_Uninjured         82977 non-null  float64
 27  Weather_Condition       84397 non-null  object
 28  Broad_phase_of_flight   61724 non-null  object
 29  Report_Status           82505 non-null  object
 30  Publication_Date        75118 non-null  object
 31  Event_Year              88889 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(1), object(25)
memory usage: 21.4+ MB
None
         Event_Id Investigation_Type Accident_Number Event_Date  \
0  20001218X45444           Accident      SEA87LA080 1948-10-24
1  20001218X45447           Accident      LAX94LA336 1962-07-19
2  20061025X01555           Accident      NYC07LA005 1974-08-30
3  20001218X45448           Accident      LAX96LA321 1977-06-19
4  20041105X01764           Accident      CHI79FA064 1979-08-02

          Location        Country   Latitude   Longitude Airport_Code  \
0  MOOSE CREEK, ID  United States        NaN         NaN          NaN
1   BRIDGEPORT, CA  United States        NaN         NaN          NaN
2    Saltville, VA  United States  36.922223  -81.878056          NaN
3       EUREKA, CA  United States        NaN         NaN          NaN
4       Canton, OH  United States        NaN         NaN          NaN

  Airport_Name  ... Air_carrier Total_Fatal_Injuries Total_Serious_Injuries  \
0          NaN  ...         NaN                  2.0                    0.0
1          NaN  ...         NaN                  4.0                    0.0
2          NaN  ...         NaN                  3.0                    NaN
3          NaN  ...         NaN                  2.0                    0.0
4          NaN  ...         NaN                  1.0                    2.0

  Total_Minor_Injuries Total_Uninjured Weather_Condition  \
0                  0.0             0.0               UNK
1                  0.0             0.0               UNK
2                  NaN             NaN               IMC
3                  0.0             0.0               IMC
4                  NaN             0.0               VMC

  Broad_phase_of_flight   Report_Status Publication_Date Event_Year
0                Cruise  Probable Cause              NaN       1948
1               Unknown  Probable Cause       19-09-1996       1962
2                Cruise  Probable Cause       26-02-2007       1974
3                Cruise  Probable Cause       12-09-2000       1977
4              Approach  Probable Cause       16-04-1980       1979

[5 rows x 32 columns]

# Visualisation and Exploration

In [29]:
# Create a new column for year
df["Event.Year"] = df["Event_Date"].dt.year

In [31]:
# Plot the trend of accidents per year
plt.figure(figsize=(12,6))
sns.histplot(df_cleaned["Event.Year"].dropna(), bins=50, kde=True)
plt.title("Number of Accidents Per Year")
plt.xlabel("Event.Year")
plt.ylabel("Accident Count")
plt.show()

KeyError: 'Event.Year'

# Top 10 Aircraft Manufacturers Involved in Accidents

#### Finding and visualizing the top manufacturers.

In [ ]:
# Count accidents by aircraft manufacturer
top_makes = df["Make"].value_counts().head(10)

# Bar plot
plt.figure(figsize=(12,6))
sns.barplot(x=top_makes.index, y=top_makes.values, legend=False)
plt.xticks(rotation=45)
plt.title("Top 10 Aircraft Manufacturers in Accidents")
plt.xlabel("Aircraft Manufacturer")
plt.ylabel("Accident Count")
plt.show()

## Severity of Injuries

#### Comparing the severity of injuries in accidents.

In [ ]:
# Replace NaN values with 0 for better visualization
df.fillna(0, inplace=True)

# Barplot of injuries
plt.figure(figsize=(12,6))
sns.barplot(data=df[["Total_Fatal_Injuries", "Total_Serious_Injuries", 
                             "Total_Minor_Injuries", "Total_Uninjured"]])
plt.title("Distribution of Injuries in Aviation Accidents")
plt.xlabel("Injury Type")
plt.ylabel("Count")
plt.show()

## Accidents by Flight Phase

#### flight phases the most accidents

In [ ]:
# Count flight phases
flight_phases = df["Broad_phase_of_flight"].value_counts()

In [ ]:

# Pie chart
plt.figure(figsize=(10,6))
plt.pie(flight_phases, labels=flight_phases.index, autopct="%1.1f%%", colors=sns.color_palette("pastel"))
plt.title("Accident Distribution by Flight Phase")
plt.show()

## Weather Conditions During Accidents

## How weather affect accidents

In [ ]:
# Count accidents under different weather conditions
weather_conditions = df["Weather_Condition"].value_counts()

In [ ]:
# Bar plot
plt.figure(figsize=(10,6))
sns.barplot(x=weather_conditions.index, y=weather_conditions.values)
plt.title("Accidents by Weather Conditions")
plt.xlabel("Weather Condition")
plt.ylabel("Accident Count")
plt.show() #The accidents occurred more in VMC (Visual Meteorological Conditions)

## comparing countries with the most accidents

In [ ]:
# Count accidents by country
country_counts = df_cleaned["Country"].value_counts().head(10)  # Top 10 countries

In [ ]:
# Display the country with the most accidents
print(f"Country with the most accidents: {country_counts.idxmax()} ({country_counts.max()} accidents)")

In [ ]:
# Bar plot for visualization
plt.figure(figsize=(12,6))
sns.barplot(x=country_counts.index, y=country_counts.values)
plt.xticks(rotation=45)
plt.title("Top 10 Countries with the Most Aviation Accidents")
plt.xlabel("Country")
plt.ylabel("Accident Count")
plt.show()

# Conclusion and Recommendations

## Conclusion
1.High-Risk Countries: The analysis revealed that certain countries have significantly higher aviation accident rates, with the United States leading the list. This could be due to a higher number of flights, varying regulatory standards, or environmental factors.

2.Trend Over Time: There is a visible fluctuation in accident occurrences over the years, with peaks in specific periods. This could be attributed to technological advancements, improved regulations, or external factors like weather conditions.

3.Flight Phases & Risk: A large proportion of accidents occur during takeoff and landing, indicating that these phases are the most critical and risky in aviation operations.

4.Weather Influence: A considerable number of accidents happen under adverse weather conditions, highlighting the importance of real-time meteorological monitoring and flight adjustments.

5.Aircraft Manufacturers & Types: Certain aircraft manufacturers appear more frequently in accident reports, which could suggest either a higher number of those aircraft in operation or specific safety concerns.

## Recommendations
1.Enhanced Safety Protocols:
Airlines should increase safety checks and training, particularly during the takeoff and landing phases, which are the most accident-prone.
Regulators should enforce stricter pilot training and competency assessments.

2.Improved Weather Monitoring & Risk Mitigation:
Airlines should invest in better weather forecasting systems to reduce accidents related to adverse conditions.
Flight plans should be adjusted dynamically based on real-time meteorological data.

3.Aircraft Maintenance & Inspection:
More frequent aircraft inspections, particularly for models with a history of mechanical failures.
Regulatory agencies should monitor and audit manufacturers whose aircraft show higher accident rates.

4.Country-Specific Regulations & Oversight:
Countries with the highest accident rates should re-evaluate their aviation safety regulations.
International aviation bodies (e.g., FAA, ICAO) should collaborate with high-risk countries to improve safety standards.

5.Accident Data Analysis for Proactive Prevention:
Airlines should leverage AI & data analytics to predict and prevent potential accidents.
The industry should adopt big data solutions to analyze past accident trends and improve flight safety.

#### Therefore;
By addressing these key areas, aviation safety can be significantly improved, reducing both fatalities and financial losses. Collaborative efforts between airlines, manufacturers, and regulatory bodies will be crucial in ensuring safer skies for all.